<section class="container">
    <div *ngIf="user; else loginBlock" class="home-page">
        <h1>Hello {{user.name}}</h1>    
        <p><span class="icon"><img src="../../../assets/img/coins.png" alt="coins"/></span>Coins: {{user.coins}}</p>
        <p><span class="icon"><img src="../../../assets/img/bitcoin.png" alt="coins" /></span>BTC: {{btc}}</p>
        <moves-list [moves]="moves" [title]="listTitle" latest="latest"></moves-list>

    </div>
    <ng-template #loginBlock>
        <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
             <input type="text" class="form-control" id="name" 
             required [(ngModel)]="model.name" name="name" #name="ngModel"/>
             {{error}}
        </div>             
        <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
        <p>Not registered? <a routerLink="/signup">Sign up</a></p>
        </form>
    </ng-template>
</section>