@import "../../../assets/style/setup/variables";
.preview{
    list-style: none;
    margin: 0 10px 10px 0;
    padding: 0;
    white-space: nowrap;
    text-overflow: clip;
    width: 250px;
    cursor: pointer;
    a, a:active, a:visited{
        color:$clr2; 
        text-decoration: none;
    }
    img{
        width: 150px;
        margin: 5px auto 0;
    }
    .card-footer{
        display: flex;
        justify-content: space-between;
    }
}
